.prof {
    text-align: center;
}
.content {
    max-height: 0;
    overflow: auto;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
    border: 1px solid gray;
}
.content.show {
    height: auto;
    max-height: 30vmax;
    transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}
#prof-name {
    margin-top:50px;
    border-top: 1px outset black;
    border-right:1px outset black;
    border-left:1px outset black;
    border-bottom:1px outset black;
    height:6vh;
    margin-right: 25%;
    margin-left: 25%;
    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    padding-top: 1%;

}
.prof-name-title {
    display:flex;
    justify-content: space-between;
    padding-right: 4vmin;
    padding-left: 4vmin;
}
.prof-name-title:hover {
    cursor: pointer;
}
