@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
.course-cataloge {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.class-home {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 1%;
}
.code-title {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding-right: 3vmax;
    padding-left: 3vmax;
}
.code-title:hover {
    cursor: pointer;
}
#code {
    font-size: 3vmax;
    font-family: 'Playfair Display', serif;
}
#expand {
    font-size: 3vmax;
    font-family: 'Playfair Display', serif;
}
.class-card {
    max-height: 0;
    overflow: auto;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}
.class-card.show {
    height: auto;
    max-height: 30vmax;
    transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}
#class-search-home {
    border-radius: 1vh;
    border: 1px solid black;
    height: 7vh;
    width: 40%;
    text-indent: 1vw;
    margin-top: 4vh;
    margin-bottom: 2vmin;
    margin-left: 30%;
    font-family: 'Raleway', sans-serif;
}
.pagination {
    width: 40%;
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    justify-content: space-around;
}
.item {
    padding: 1vmin;
}
.item:hover {
    cursor: pointer;
}
.active-page {
    color: white;
    border-radius: 1vmin;
    background-color: rgb(69, 69, 69);
}
.previous {
    padding: 1vmin;
}
.previous:hover {
    cursor: pointer;
    color: rgb(45, 45, 45);
}
.next {
    padding: 1vmin;
}
.next:hover {
    cursor: pointer;
    color: rgb(45, 45, 45);
}