.contact-container {
    text-align: center;
    font-family: 'Playfair Display', serif;

}
.contact-title {
    font-size: 3vmax;
    padding-top: 4vmax;
}
.contact-p {
    padding-top: 2vmax;
}