@import url('https://fonts.googleapis.com/css?family=Playfair Display');
.header-top {
    height: 10%;
    width: 100%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    text-align: center;
    background-color: rgb(255, 255, 255);
}
#home-link {
    padding-left: 2vmax;
    padding-right: 2vmax;
    display: flex;
    color: black;
    text-align: center;
    text-decoration: none;
    justify-content: space-between;
    font-family: 'Playfair Display', serif;
}
#rt-logo {
    width: 8vmax;
}
#header-title {
    font-size: 4vmax;
}