.nav-bar {
    padding-top: 2vh;
}
.nav-bar a {
    border-bottom: 1px solid black;
    float: left;
    font-size: 3vh;
    color: black;
    width: 25%;
    text-decoration: none;
    padding-bottom: 3vh;
    text-align: center;
}
.nav-bar a:hover {
    text-decoration: underline;
}